<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Victor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/AUTHENTICA.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/Lightbox-Gallery.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/styles.css')}}">


</head>

<body>
    <p id="paragraphe" style="display:contents; color:rgba(0,0,0,.097)"> ÷<a "style:text-decoration:none;" href="acceuil">Forma Gramma</a> [Forme de la lettre], 
        est un programme de recherche autour de l’expression créative en typographie basée sur les moyens de production. Comment être créatif avec un processus de conception emprunt de spécificités et de règles liées à un outil de production ? Pour ce projet de diplôme j’ai axé ce programme sur la découpeuse laser car celle-ci est accessible et rapide à prendre en main. Celle-ci permet aussi un large panel de matières premières, tant qu’elles sont organiques.Pour ce projet de diplôme j’ai axé ce programme sur la découpeuse laser car celle-ci est accessible et rapide à prendre en main. Celle-ci permet aussi un large panel de matières premières,
        ÷¦<a href="librairie" style=" text-decoration:none">Librairie</a> tant qu’elles sont organiques.Pour ce projet de diplôme j’ai axé ce programme sur la découpeuse laser car celle-ci est accessible et 
        rapide à prendre en main. Celle-ci permet aussi un large panel de matières premières, tant qu’elles sont organiques.</p>
    <div id="instagram">
    <span id="animation" onclick="animation(this.innerText);" style="text-decoration:none; color:#FF0000; font-size:20px; cursor:pointer;" >+</span>
    </div>

    <script src="{{url_for('static',filename='assets/js/acceuil.js')}}"></script>

</body>

</html>