<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Victor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/AUTHENTICA.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/Lightbox-Gallery.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/styles.css')}}">
</head>

<body class="text-center d-flex flex-column flex-fill align-items-stretch m-auto justify-content-lg-start" style="font-family: AUTHENTICA;font-size: 18px;">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 text-left"><img src="{{url_for('static',filename='assets/img/Group 8.svg')}}" style="position: absolute;top: 0%;left: 2%;">
                    <p style="color: #2361ff;">Forma Gramma</p>
                </div>
                <div class="col-md-3 col-xl-3 text-left"><img src="{{url_for('static',filename='assets/img/Group 8.svg')}}" style="position: absolute;top: 0;left: 1%;">
                    <p style="color: #2361ff;">Galerie</p>
                </div>
                <div class="col-md-3 text-left"><img src="{{url_for('static',filename='assets/img/Group 8.svg')}}" style="position: absolute;top: 1%;left: 2%;">
                    <p style="color: #000000;">Librairie</p>
                    <p style="color: #2361ff;">Modules</p>
                    <p id="combinaison_text" style="color: #2361ff;">Combinaisons</p>
                </div>
                <div class="col-md-3 col-xl-3 offset-xl-0 text-left"><img src="{{url_for('static',filename='assets/img/Group 4.svg')}}" style="position: absolute;top: 5%;right: 0;">
                    <p style="position: absolute;bottom: 0;/*left: 10%;*/">Répertoire</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid" style="padding-left: 23px;">
            <div class="row text-center" style="margin-bottom: 20px;">
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 8.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 7.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_1.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-6 text-justify"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="second_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="second_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_10.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_6.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="fourth_top_left" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="fourth_bottom_left" src="{{url_for('static',filename='assets/img/Group 6.svg')}}"><img class="fourth_top_right" src="{{url_for('static',filename='assets/img/Group 4.svg')}}"><img class="fourth_bottom_right" src="{{url_for('static',filename='assets/img/Group 3.svg')}}">
                    <div class="row product_image_row"
                        style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_9.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center" style="margin-bottom: 20px;">
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 8.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 7.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_1.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-6 text-justify"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="second_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="second_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_10.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_6.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="fourth_top_left" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="fourth_bottom_left" src="{{url_for('static',filename='assets/img/Group 6.svg')}}"><img class="fourth_top_right" src="{{url_for('static',filename='assets/img/Group 4.svg')}}"><img class="fourth_bottom_right" src="{{url_for('static',filename='assets/img/Group 3.svg')}}">
                    <div class="row product_image_row"
                        style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_9.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 20px;">
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 8.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 7.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_1.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-6 text-justify"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="second_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="second_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_10.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_6.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="fourth_top_left" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="fourth_bottom_left" src="{{url_for('static',filename='assets/img/Group 6.svg')}}"><img class="fourth_top_right" src="{{url_for('static',filename='assets/img/Group 4.svg')}}"><img class="fourth_bottom_right" src="{{url_for('static',filename='assets/img/Group 3.svg')}}">
                    <div class="row product_image_row"
                        style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_9.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 20px;">
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 8.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 7.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_1.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-6 text-justify"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="second_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="second_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_10.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="first_top" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="first_bottom" src="{{url_for('static',filename='assets/img/Group 6.svg')}}">
                    <div class="row product_image_row" style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_6.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
                <div class="col-md-3 offset-xl-0 first"><img class="fourth_top_left" src="{{url_for('static',filename='assets/img/Group 1.svg')}}"><img class="fourth_bottom_left" src="{{url_for('static',filename='assets/img/Group 6.svg')}}"><img class="fourth_top_right" src="{{url_for('static',filename='assets/img/Group 4.svg')}}"><img class="fourth_bottom_right" src="{{url_for('static',filename='assets/img/Group 3.svg')}}">
                    <div class="row product_image_row"
                        style="/*display: block;*/">
                        <div class="col" style="/*margin: auto;*//*display: block;*/padding-top: 31px;"><img src="{{url_for('static',filename='assets/img/2-16-17_9.svg')}}" style="width: 292px;height: 292px;"></div>
                    </div>
                    <div class="row product_description_row">
                        <div class="col-xl-5 offset-xl-0">
                            <p>N° 13_12_14-1</p>
                        </div>
                        <div class="col offset-xl-5"><i class="fa fa-arrow-down"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>